name: Sync Labels

on:
  push:
    branches: [main]
    paths: [.github/labels.yml]
  pull_request:
    paths: [.github/labels.yml]

permissions:
  issues: write

jobs:
  sync:
    name: Sync labels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: EndBug/label-sync@52074158190acb45f3077f9099fea818aa43f97a # v2.3.3
        with:
          config-file: .github/labels.yml
          delete-other-labels: true
          dry-run: ${{ github.event_name == 'pull_request' }}
          token: ${{ secrets.GITHUB_TOKEN }}
